@use './stylingComponent/layoutMain/main';
@use'./stylingComponent/formValidate/formV';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    // background-color: red;
    // position: relative;
    // width: 900px;
    // height: 704px;
    // top: 24px;
    // left: 233px;
    // border-radius: 12px 12px 0px 0px;
    // gap: 20px;
    // .divider{
    //     position: relative;
    //     width: 400px ;
    //     height: 168px;
    //     top: 153px;
    //     left: 24px;
    //     gap: 24px;

    // }
}