@use './stylingComponent/layoutMain/main';
@use'./stylingComponent/formValidate/formV';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'TT Travels', sans-serif;
}
.App{
    font-family: 'TT Travels', sans-serif;
}
@font-face {
        font-family: 'TT Travels' ;
        src: url(../../public/Fonts/DemiBold.ttf);
        font-weight: 900;
    }@font-face {
        font-family: 'TT Travels';
        src: url(../../public/Fonts/ExtraBold.ttf);
        font-weight: 700;
    }
    @font-face {
        font-family: 'TT Travels'  ;
        src: url(../../public/Fonts/Medium.ttf);
        font-weight: 500;
    }
    @font-face {
        font-family: 'TT Travels'  ;
        src: url(../../public/Fonts/Regular.ttf);
        font-weight: 300;
    }